<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" *ngIf="!ShowLogin">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>
          Please Verify account to continue, please check your email
        </p>
      </div>
      <div class="card text-center">
        <div class="card-header">
          <b>Create Account</b>
        </div>
        <div class="card-body">
          <form #CreateUser="ngForm" class="LoginCardBody">
            <div>
              <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText name="username" [(ngModel)]="LoginUser.email" #username="ngModel"
                  placeholder="Username" required email="true" class="ng-invalid ng-dirty">
              </span>
            </div>
            <div>
              <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input type="password" pInputText name="password" [(ngModel)]="LoginUser.Password" #password="ngModel"
                  autocomplete="off" class="ng-invalid ng-dirty" placeholder="Password" minlength="8" maxlength="20"
                  required>
              </span>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted">
          <p-button label="Create Account" icon="pi pi-arrow-right" (click)="CreateUsers()"></p-button>
          <p-button label="Login" icon="pi pi-arrow-right" (click)="ShowCreate()"></p-button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" *ngIf="ShowLogin">
      <div class="card text-center">
        <div class="card-header">
          <b>Login Account</b>
        </div>
        <div class="card-body">
          <form #Loginfrm="ngForm" class="LoginCardBody">
            <div>
              <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText name="usernameLogin" [(ngModel)]="LoginUser.email"
                  #usernameLogin="ngModel" placeholder="Username" required email="true" class="ng-invalid ng-dirty">
              </span>
            </div>
            <div>
              <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input type="password" pInputText name="passwordLogin" [(ngModel)]="LoginUser.Password"
                  #passwordLogin="ngModel" autocomplete="off" class="ng-invalid ng-dirty" placeholder="Password"
                  minlength="8" maxlength="20" required>
              </span>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted">
          <p-button label="Login" icon="pi pi-arrow-right" (click)="LoginUsers()"></p-button>
          <p-button label="Create Account" icon="pi pi-arrow-right" (click)="ShowCreate()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
