<div class="MenuHolder">
  <div class="MenuAppNameHolder">
    <div style="align-self:center" class="Showxs">
      <button type="button" class="btn btn-light" (click)="DisplaySideNav = true"><i class="pi pi-bars" style="font-size: 1rem"></i></button>
    </div>
    <div>
      <img src="{{appIcon}}" alt="App icon" style="height: 40px;width: 40px;" />
    </div>
    <div class="MenuCompanynameHolder Hidexs">
      <div style="font-size: 18px;font-weight:bold">
        {{appName}}
      </div>
      <div style="font-size: 12px;">
        {{appMotto}}
      </div>
    </div>
  </div>
  <div style="align-self:center" class="Hidexs">
    <div class="">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword">
        <button type="button" pButton label="Search"></button>
      </div>
    </div>
  </div>
  <div style="display:flex;align-self:center;gap:0.2rem">
    <div>
      <button class="btn btn-light"><i class="pi pi-shopping-cart" pBadge ></i></button>
    </div>
    <div style="align-self:center" *ngIf="!isUserAuth">
      <button class="btn btn-primary btnLogin" (click)="LoginDialog()">Login</button>
    </div>
    <div style="align-self:center" *ngIf="isUserAuth" class="Hidexs">
     <p-avatar icon="pi pi-user" styleClass="p-mr-2"  shape="circle" (click)="menu.toggle($event)"></p-avatar>
     <p-menu #menu [popup]="true" [model]="UserMenuitems"></p-menu>
    </div>
  </div>
</div>


<p-sidebar [(visible)]="DisplaySideNav" [baseZIndex]="10000">
    <h3>Left Sidebar</h3>
</p-sidebar>
<p-dialog [header]="PopupTitle" [(visible)]="displayLogin" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <div class="LoginHolder">
    <form #loginform="ngForm" class="LoginForm">
      <div style="align-self: center;">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="text" name="loginusername" pInputText [(ngModel)]="LoginUser.email" #loginusername="ngModel"
            placeholder="email" required [email]="true" styl="width:100%" autocomplete="off">
        </span>
      </div>
      <div style="align-self: center;">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input type="password" name="loginuserpass" pInputText [(ngModel)]="LoginUser.Password"
              #loginuserpass="ngModel" placeholder="Password" required styl="width:100%" autocomplete="off">
          </span>
        </div>
        <div style="align-self: flex-end;" *ngIf="IsLogin">
          Forgot Password ?
        </div>
      </div>
      <div style="align-self: center;width: 100%;">
        <button class="btn btn-primary btnLogin" (click)="LoginAccount()" style="width:100%">{{PopupTitle}}</button>
      </div>
      <a (click)="LoginCreateacc()">{{IsLogin?'SignUp':'Login'}}</a>
    </form>
  </div>
</p-dialog>
<router-outlet></router-outlet>
