<div class="row divHeader">
    <div class="divappicon">
        <img class="appicon" src="{{ AppIconurl }}">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <span class="title">
            <span class="titleFname">{{ AppFName }}</span><span class="titleLname">{{ AppLName }}</span>
        </span><br>
        <span class="titlebio">{{ AppBio }}</span>
        <div class="row appnavigator">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <ul id="mnuNavigator" class="paddingL-xs">
                    <a>home</a>
                    <a>product</a>
                    <a>about</a>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 textRight">
                <ul class="paddingL-xs">
                    <a>Sign in</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>