<div class="MenuHolder">
  <div class="MenuAppNameHolder">
    <div style="align-self:center" class="Showsm Showxs">
      <button type="button" class="btn btnNoback" (click)="DisplaySideNav = true"><i class="pi pi-bars"
          style="font-size: 1rem"></i></button>
    </div>
    <div>
      <img src="{{appIcon}}" alt="App icon" style="height: 40px;width: 40px;" />
    </div>
    <div class="MenuCompanynameHolder Hidexs Hidesm">
      <div style="font-size: 18px;font-weight:bold">
        {{appName}}
      </div>
      <div style="font-size: 12px;">
        {{appMotto}}
      </div>
    </div>
  </div>
  <div style="align-self: center;" class="Hidexs Hidesm" *ngIf="UserRole.includes('A')">
    <div style="display: flex;flex-direction: row;align-items: center;gap:0.2rem">
      <a class="btn btnNoback" routerLink="/Dashboard">Dashboard</a>
      <a class="btn btnNoback" routerLink="/Listing" [queryParams]="{Menu:'Category',Redirect:'/Category'}">Category</a>
      <button type="button" class="btn btnNoback">Orders</button>
    </div>
  </div>
  <div style="align-self:center" class="Hidexs Hidesm" *ngIf="!UserRole.includes('A')">
    <div class="">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword">
        <button type="button" pButton label="Search"></button>
      </div>
    </div>
  </div>
  <div style="display:flex;align-self:center;gap:0.2rem">
    <div *ngIf="!UserRole.includes('A')">
      <button class="btn btnNoback" (click)="RouteCart();"><i class="pi pi-shopping-cart" pBadge
          severity="warning"></i></button>
    </div>
    <div style="align-self:center" *ngIf="!isUserAuth">
      <button class="btn btn-primary btnLogin" (click)="LoginDialog()">Login</button>
    </div>
    <div style="align-self:center" *ngIf="isUserAuth">
      <p-avatar image="https://avatars.dicebear.com/api/initials/:{{LoggedUser.email}}.svg" styleClass="p-mr-2"
        shape="circle" (click)="menu.toggle($event)"></p-avatar>
      <p-menu #menu [popup]="true" [model]="UserMenuitems"></p-menu>
    </div>
  </div>
  <div style="align-self:center;width:100%" *ngIf="!UserRole.includes('A')" class="Showsm Showxs">
    <div class="">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword">
        <button type="button" pButton label="Search"></button>
      </div>
    </div>
  </div>
</div>
<div class="LoaderContainer" *ngIf="Service.isLoading | async">
  <p-progressSpinner [style]="{top: '50%', left: '50%'}"></p-progressSpinner>
</div>
<p-toast></p-toast>

<p-sidebar [(visible)]="DisplaySideNav" [baseZIndex]="10000" [showCloseIcon]="false">
<div class="SidenaveHeaderH">
 <div>
      <img src="{{appIcon}}" alt="App icon" style="height: 40px;width: 40px;" />
    </div>
    <div class="MenuCompanynameHolder">
      <div style="font-size: 18px;font-weight:bold">
        {{appName}}
      </div>
      <div style="font-size: 12px;">
        {{appMotto}}
      </div>
    </div>
</div>
<div class="SidenavMenuHolder">
<div style="width:100%">
 <a class="btn btnsidenav" routerLink="/Dashboard" (click)="DisplaySideNav = false;">Dashboard</a>
</div>
<div style="width:100%">
  <a class="btn btnsidenav" routerLink="/Listing" [queryParams]="{Menu:'Category',Redirect:'/Category'}" (click)="DisplaySideNav = false;">Category</a>
</div>
<div style="width:100%">
  <button type="button" class="btn btnsidenav" (click)="DisplaySideNav = false;">Orders</button>
</div>
</div>
</p-sidebar>
<p-dialog [header]="PopupTitle" [(visible)]="displayLogin" [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <div class="LoginHolder">
    <form #loginform="ngForm" class="LoginForm">
      <div style="align-self: center;">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="text" name="loginusername" pInputText [(ngModel)]="LoginUser.email" #loginusername="ngModel"
            placeholder="email" required [email]="true" styl="width:100%" autocomplete="off">
        </span>
      </div>
      <div style="align-self: center;">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input type="password" name="loginuserpass" pInputText [(ngModel)]="LoginUser.Password"
              #loginuserpass="ngModel" placeholder="Password" required styl="width:100%" autocomplete="off">
          </span>
        </div>
        <div style="align-self: flex-end;" *ngIf="IsLogin">
          Forgot Password ?
        </div>
      </div>
      <div *ngIf="ErrorMessage" style="align-self: center;">
        <p style="color:red">{{ErrorMessage}}</p>
      </div>
      <div style="align-self: center;width: 100%;">
        <button class="btn btn-primary btnLogin" (click)="LoginAccount()" style="width:100%">{{PopupTitle}}</button>
      </div>
      <a (click)="LoginCreateacc()">{{IsLogin?'SignUp':'Login'}}</a>
    </form>
  </div>
</p-dialog>
<router-outlet></router-outlet>
