<p-dataView [value]="ResultData" [loading]="Loading">
  <ng-template let-product pTemplate="listItem">
    <div class="Card">
      <div class="Card-Header">
        <div>
           <i class="pi pi-tag product-category-icon"></i>
           <span class="product-category"> {{product.Category.CDesc}}</span>
        </div>
        <div>
        <span [ngClass]="{'Instock': product.PrdStock, 'NoStock': !product.PrdStock}" > {{product.PrdStock?'In Stock':'Out of Stock'}} </span>
        </div>
      </div>
      <div class="Card-Body">
        <div style="height:15rem;">
          <img [src]="GetImagePath(product.PrdImg)" class="ProductImg" alt="{{product.PrdName}}" />
        </div>
        <div style="font-weight:700;" >
          {{product.PrdName}}
        </div>
      </div>
      <div class="Card-Footer">
        <div class="PrdPrice">
          <span>₹</span>
          <span>{{product.PrdPrice}}</span>
          <span>/ {{product.UOM.UOMDesc}}</span>
        </div>
        <div>
          <p-button icon="pi pi-shopping-cart" [disabled]="product.PrdStock === false"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
