<div class="Categorydiv">
  <div class="flexrow">
    <form #Categoryfrm="ngForm"
      (ngSubmit)="Categoryfrm.form.valid && (!ProductImage || !ImageUrl) && HandleSubmitClck()"
      class="flexcol formWidth">
      <div style="align-self: center;width:90%">
        <app-fileupload [AllowedTypes]="AllowedFileTypes" [imageSrc]="ImageUrl" (OnChangeEvent)="OnFileChange($event)"
          name="fileupld"></app-fileupload>
        <small *ngIf="(!ProductImage || !ImageUrl) && Categoryfrm.submitted" style="font-size:.775em;color:red">Category Image is Required</small>
      </div>
      <div style="align-self: center;width:90%">
        <span class="p-float-label">
          <input type="text" name="CategoryDesc" pInputText [(ngModel)]="Category.CDesc" #Cdesc="ngModel"
            [ngClass]="{'ng-invalid ng-dirty': Cdesc.invalid && (Cdesc.dirty || Cdesc.touched) || (Categoryfrm.invalid && Categoryfrm.submitted)}"
            style="width:100%" autocomplete="off" required maxlength="30" appTrim [TrimEmptySpace]="true"
            [ReplaceSpecialChar]="true" appCheckExistence [FormMode]="QueryParms.FormMode"
            [NqField]="existsValidatorParams">
          <small *ngIf="Cdesc.hasError('appCheckExistence')" style="font-size:.775em;color:red">Category Already
            Exists</small>
          <label for="CategoryID">Category</label>
        </span>
      </div>
      <div class="StatusHolder">
        <div style="padding: 0.5rem;">Status</div>
        <p-checkbox [(ngModel)]="Category.CStatus" name="Status" [binary]="true" inputId="binary" #cStatus="ngModel">
        </p-checkbox>
      </div>
      <div class="btnHolder">
        <button type="button" class="btn btn-warning" (click)="HandleBack()">Back</button>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning" [disabled]="QueryParms.FormMode === 'A'"
          (click)="GetPopupConfirmation()">Delete</button>
      </div>
    </form>
  </div>
</div>
