<div class="Categorydiv">
  <div class="flexrow">
    <form #Productfrm="ngForm" class="flexcol formWidth" (ngSubmit)="Productfrm.form.valid && HandleSubmit()">
      <div style="align-self: center;width:90%">
        <app-fileupload [AllowedTypes]="AllowedFileTypes" [imageSrc]="ImageUrl" (OnChangeEvent)="OnFileChange($event)"
          name="fileupld"></app-fileupload>
        <small *ngIf="!ImageSelected" style="font-size:.775em;color:red">Product Image is Required</small>
      </div>
      <div style="align-self: center;width:90%">
        <span class="p-float-label">
          <input type="text" name="Productname" id="Productname" pInputText [(ngModel)]="Product.PrdName"
            [ngClass]="{'ng-invalid ng-dirty': PrdName.invalid && (PrdName.dirty || PrdName.touched) || (PrdName.invalid && Productfrm.submitted)}"
            #PrdName="ngModel" style="width:100%" autocomplete="off" required minlength="4" maxlength="30" appTrim
            [TrimEmptySpace]="true" appCheckExistence [FormMode]="QueryParms.FormMode" [NqField]="existsValidatorParams"
            TableName="Product" CName="PrdId" MatchProp="PrdName">
          <label for="Productname">Product Name</label>
        </span>
          <small *ngIf="PrdName.hasError('appCheckExistence')" style="font-size:.775em;color:red">Product Name Exists </small>
          <small *ngIf="PrdName.hasError('required') && (PrdName.dirty || PrdName.touched) || (PrdName.invalid && Productfrm.submitted)" style="font-size:.775em;color:red">Product Name is required </small>
      </div>
      <div style="align-self: center;width:90%">
        <p-dropdown [options]="drpCategory" [(ngModel)]="Product.PrdCat" name="drpCat" #drpCat="ngModel"
          placeholder="Select a Category" optionLabel="CDesc" optionValue="CID" [showClear]="true"
          optionDisabled="CStatus" [required]="true">
        </p-dropdown>
      </div>
      <div
        style="align-self: center;width:90%;display:flex;flex-direction:row;align-items:center;gap:1rem;flex-wrap:wrap">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="Product.PrdPrice" name="Price" id="Price" #Price="ngModel" prefix="₹ "
            [required]="true" mode="decimal" [minFractionDigits]="2" [maxlength]="10" [maxFractionDigits]="2">
          </p-inputNumber>
          <label for="Price">Price</label>
        </span>
        /
        <p-dropdown [options]="drpUom" [(ngModel)]="Product.PrdUOM" name="PrdUOM" #PrdUOM="ngModel"
          placeholder="Select a UOM" optionLabel="UOMDesc" optionValue="UOMUID" [showClear]="true" [required]="true">
        </p-dropdown>
      </div>
      <div class="StatusHolder">
        <div style="padding: 0.5rem;">Stock</div>
        <p-checkbox [(ngModel)]="Product.PrdStock" name="Stock" [binary]="true" inputId="binary" #cStock="ngModel">
        </p-checkbox>
      </div>
      <div class="btnHolder">
        <button type="button" class="btn btn-warning" (click)="HandleBack()">Back</button>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning" [disabled]="QueryParms.FormMode === 'A'">Delete</button>
      </div>
    </form>
  </div>
</div>
